header {
  width: 980px;
  height: 100px;
  margin: auto;
}

.content {
  width: 980px;
  height: 1000px;
  margin: 0 auto;
}

 header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  border: 2px solid black;
  margin-left: 110px;

}

.author {
  color: #2472AE;
  float: left;
  margin-left: 11px;
}

h1 {
  font-variant: small-caps;
  font-size: 48px;
  text-align: center;
}

.content img {
  width: 650px;
  margin-left: 170px;
}

p {
  text-align: justify;
  width: 600px;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 30px;
}

h3 {
  margin: 0;
}
